/* Add a black background color to the top navigation */
.navhaut {
    background-color: #18034d;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navhaut a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navhaut a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navhaut a.active {
    background-color: #04AA6D;
    color: white;
  }